# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# OS
.DS_Store
Thumbs.db
